/* font families */
/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Lobster', cursive; */

/* header */
header {
    display: block;
    background-color: #FFECFF; 
    height: 100px;
}

.logo {
    float: left;
    width: 30%;
}

.logo img {
    float: left;
    padding: 10px;
}

header h1 {
    font-family: 'Lobster', cursive;
}

.header-nav {
    float: ;
}

.socials {
    float: right;
    padding-right: 2%;
}


/* hero image */
.hero-img {
    display: block;
    position: relative;
    background-image: url(../images/banner\ 1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;


}

.reserve-palmier {
    display: inline-block;
    background-image: url(../images/displaycase2\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 250px;
    position: absolute;
    left: 23%;
    top: 40%;
    text-align: center;
    
}

/* Footer */