/* font families */
/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Lobster', cursive; */

/* header */
header {
    display: block;
    background-color: #FFECFF; 
    height: 100px;
}

.logo {
    float: left;
    width: 30%;
}

.logo img {
    float: left;
    justify-content: center;
    padding: 10px;
}

header h1 {
    font-family: 'Lobster', cursive;
}


/* hero image */
.hero-img {
    display: block;
    background-image: url(../images/banner\ 1.png);
    background-position: center;
    background-position: cover;
    background-repeat: no-repeat;
    height: 300px;

}

/* Footer */